################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/InvoiceManagementApp/.vs/InvoiceManagementApp/v16
