################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/InvoiceManagementApp/.vs/InvoiceManagementApp/v16
/src/InvoiceManagementApp/InvoiceManagement.Application/obj
/src/InvoiceManagementApp/InvoiceManagement.Domain/obj
/src/InvoiceManagementApp/InvoiceManagement.Infrastructure/obj
/src/InvoiceManagementApp/InvoiceManagement.Infrastructure/bin/Debug/netcoreapp3.1
/src/InvoiceManagementApp/InvoiceManagement.Application/bin/Debug/netstandard2.1
/src/InvoiceManagementApp/InvoiceManagement.Domain/bin/Debug/netstandard2.1
